body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  animation: fade-in 0.666s;
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}




@media screen 
and (min-device-width: 1200px) 
and (max-device-width: 1600px) 
and (-webkit-min-device-pixel-ratio: 1) { 

  .galrjd {
    width: 55% !important;
  }

  .tXlBS{
    font-weight: 900;
    font-size: 6vw;
  }

  .wow-at-first-sight {
  font-size: 20vw;}
  .wow-at-second-sight {
  font-size: 10vw}
  .wow-at-third-sight {
  font-size: 10vw}

  .icon-sz{
    font-size: 4vw;
  }

  .bio-p{
    font-size: 3vw ;
  }

  .bio-title{
    font-size: 9vw ;
    margin: 20px;
  }
  .center{
    width: 50%;
  }
  .bio-app{
    font-size: 2.7vw;
  }
  .bio-mind{
    font-size: 2.8vw;
    margin:5px;
  }
  .bio-clps{
    margin: 0;
    font-size: 9vw;
  }
}



@media only screen and (max-width: 600px) {
  .galrjd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100% !important;
  }

  .tXlBS{
    font-weight: 900;
    font-size: 10vw;
  }

  .wow-at-first-sight {
  font-size: 35vw}
  .wow-at-second-sight {
  font-size: 20vw}
  .wow-at-third-sight {
  font-size: 20vw}

  #fp-nav.fp-right {
    display:none !important;
  }

  .icon-sz{
    font-size: 10vw;
  }

  .bio-p{
    font-size: 6vw ;
  }

  .bio-title{
    font-size: 10vw ;
    margin: 20px;
  }
  .center{
    width: 95%;
  }
  .bio-app{
    font-size: 5.3vw;
  } .bio-mind{
    font-size: 5.5vw;
    margin:5px;
  }
  .bio-clps{
    margin: 0;
    font-size: 20vw;
  }
}

/*Flechas*/
  .lgksPe{display: none}
  .iLquPE{display: none}

/*bolas*/
.guuruq{
  background-color: white !important;
  height: 20px !important;
  width: 20px !important;
  margin: 18px !important;
}

.cJeRRR{
  box-shadow: 0 0 0px 0px black !important;
  background-color: white !important;
  height: 30px !important;
  width: 30px !important;
  margin: 13px !important;
}

.del-style{
  text-decoration: none !important;
  color:white;
  background:none; 
  outline: none; 
  -webkit-appearance: none; 
  box-shadow: none !important; 
  border: none;
  user-select: none;
}

.wow-at-first-sight {
  font-weight: 1000;
  transform: scale(1, .9);
}

.wow-at-second-sight {
  font-weight: 1000;
  transform: scale(1, .9);
}

.wow-at-third-sight {
  font-weight: 1000;
  transform: scale(1, .9);
}

.rec,.rec-carousel-item, .rec-carousel-item-0, .rec-carousel-item-visible :focus{
  background:none; 
  outline: none; 
  -webkit-appearance: none; 
  box-shadow: none !important; 
  border: none;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span{
  background-color:white !important;
}

#fp-nav ul li:hover a.active span, #fp-nav ul li a.active span, .fp-slidesNav ul li:hover a.active span, .fp-slidesNav ul li a.active span{
  height: 8px !important;
  width: 8px !important;
  margin: -3px 0 0 -3.5px !important;
}

.social-container{
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 24px;
}

.center{
  display: table;
  margin: 0 auto;
}

.bio-p{
margin: 0;}

/*.order-li{*/
  /*display: inline;*/
  /*list-style-type: none;*/
  /*float: center;*/
/*}*/

.bkVSTc{
  margin-top: 5vh !important;
}

/*.btn-hvr :hover {*/
  /*color: grey;*/
/*}*/
