body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  animation: fade-in .666s;
}

@keyframes fade-in {
  from {opacity: 0.666;}
  to {opacity: 1;}
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
}

.icon-sz{
  font-size: 4vw;
}

/*Borrar estilos por default*/
.del-style{
  text-decoration: none !important;
  color:white;
  background:none; 
  outline: none; 
  -webkit-appearance: none; 
  box-shadow: none !important; 
  border: none;
  cursor: pointer;
  user-select: none;
  margin-top: 0;
  margin-bottom: 0;
}



/*Secciones*/
.wow-at-first-sight {
  font-weight: 1000;
  font-size: 95px;
  transform: scale(1, .85);
}
.wow-at-second-sight {
  font-weight: 555;
  font-size: 60px;
  transform: scale(1, .85);
}
.wow-at-third-sight{
  font-weight: 333;
  font-size: 40px;
  transform: scale(1, .95);
  margin: 5px
}



/*Linkedin and Mail*/
.social-container{
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.center{
  display: table;
  margin: 0 auto;
}

.bc-section{
  background: black;
  color:white;
}

/*projects*/
.proj{
  font-size: 33px;
  margin-top: 8px;
}

/*Bolas laterales*/
#fp-nav.fp-right {
  right: 0px !important;
}

/*font-size*/
.exp{font-size: 18px;}



/*change size when click button*/
.hide{
  transform: scale(0.33);
transition-duration: 0.5s;}
.show{
  transform: scale(1, .85);
transition-duration: 0.5s;}
.subhide{
  transform: scale(0.585);
transition-duration: 0.5s;}

/*icon size*/
.iconsz{
  font-size:2rem
} 

/*icon margin top*/
.mgne{
  margin-top: -0.5rem; 
}

